/* @import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Itim&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


html{
    scroll-behavior: smooth;
    /* letter-spacing: 1px; */
}




/* NAVBAR STYLING STARTS HERE*/

.shine{
    color:#6e6e6e;
    font-size: 2rem;
    margin-left: 15px;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    font-family: 'Aldrich', sans-serif;
}

.shine:hover{
    color: red;
    transition: 0.5s ease-out;
}

.nav-item a{
    text-decoration: none;
    color: #6e6e6e;
    font-weight: 600;
    padding: 10px;
    font-size: 18px;
    font-family: 'Aldrich', sans-serif;

}

.nav-item a:hover{
    color: red;
    transition: 0.5s ease-out;
    
}


.bg-dark{
    transition: 350ms ease;
    background: transparent !important;
}

.bg-dark.scrolled {
    background:black !important;
}

/* NAVBAR STYLING ENDS HERE*/

/* ABOUT STYLING STARTS HERE*/

.about .atitle{
    font-weight: 600;
    color: #6e6e6e;
    font-family: 'Aldrich', sans-serif;

}

.about .atext{
    font-weight: 600;
    color: red;
    font-family: 'Aldrich', sans-serif;

    
}

.about h2{
    font-family: 'Aldrich', sans-serif;
}

.about p{
    font-family: 'Itim', cursive;
}

.about .info{
    margin-left: 20px;
}

.about .head{
    font-weight: 600;
    color: #6e6e6e;
    font-family: 'Aldrich', sans-serif;

}

.about .sub{
    font-family: 'Itim', cursive;
}


.fa-user:before {
    content: "\f007";
}
.fa-map-marker-alt:before {
    content: "\f007";
}
.fa-envelope:before {
    content: "\f007";
}

/* ABOUT STYLING ENDS HERE*/


/* SKILL BAR STYLING STARTS HERE*/
.skills .stitle{
    color: #6e6e6e;
    font-weight: 600;
    font-family: 'Aldrich', sans-serif;

}

.skills .stext{
    color: red;
    font-weight: 600;
    font-family: 'Aldrich', sans-serif;

}

.skills h2{
    font-family: 'Aldrich', sans-serif;
}

.skills .progress-n{
    display: inline-block;
    font-family: 'Itim', cursive;
    
}

.skills .progress-p{
    display: block;
    float: right;
    font-family: 'Itim', cursive;
    
}

.skills p{
    color: #6e6e6e;
    margin-bottom: 0px;
    font-family: 'Itim', cursive;
}

.skills .download-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: #6e6e6e;
    font-family: 'Itim', cursive;
    
}
  
.skills .download-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.skills .download-btn:hover span {
    padding-right: 25px;
}
  
.skills .download-btn:hover span:after {
    opacity: 1;
    right: 0;
}

/* SKILL BAR STYLING ENDS HERE*/




/* TOOL STYLING STARTS HERE*/

.tool .t-title{
    font-family: 'Aldrich', sans-serif;

    font-weight: 600;
    color: #6e6e6e;
}

.tool .t-text{
    color: red;
    font-weight: 600;
    font-family: 'Aldrich', sans-serif;

}

.tool .t-img:hover{
    box-shadow: 5px 5px 20px rgba(110, 110, 110, 0.6);
}

.tool .r-text{
    font-weight: 600;
    color: #6e6e6e;
    font-family: 'Itim', cursive;
}

.tool .r-text:hover{
    color: red;
    transition: 0.5s ease-out;
    cursor: pointer;
}

/* TOOL STYLING ENDS HERE*/

/* REVIEW STYLING STARTS HERE */
.review .r-title{
    color: #6e6e6e; 
    font-weight: 600; 
    font-family: 'Aldrich', sans-serif;

}

.review .r-text{
    color: red;
    font-weight: 600; 
    font-family: 'Aldrich', sans-serif;

}

.review .text-lg {
    font-size: 2rem;
}
  
.review .carousel-indicators li {
    border: none;
    background: red;
}
  
.review .carousel-indicators li.active {
    background: red;
}
  
  
/* REVIEW STYLING ENDS HERE */

/* CONTACT STYLING STARTS HERE*/

.contact .c-title{
    color: #6e6e6e;
    font-weight: 600;
    font-family: 'Aldrich', sans-serif;

}
  
.contact .c-text{
    color: red;
    font-weight: 600;
    font-family: 'Aldrich', sans-serif;

}
  
.contact .form-text{
    font-weight: 600;
    color: #6e6e6e;
    font-family: 'Itim', cursive;
} 
  
.contact .form input::placeholder {
    color: #6e6e6e;
    opacity: 0.8;
    font-family: 'Itim', cursive;
}
  
.contact .form textarea::placeholder {
    color: #6e6e6e;
    opacity: 0.8;
    font-family: 'Itim', cursive;
}
  
/* CONTACT STYLING ENDS HERE*/


/* custom scrollbar */
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #6e6e6e;
}

::-webkit-scrollbar-thumb{
    background: red;
}
/* custom scrollbar */
